@model ProyectoConsultorio.Models.Expediente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Expediente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.paciente.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empleado.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Presion1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Presion1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Presion2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Presion2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CronicoDegenerativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CronicoDegenerativa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alergias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alergias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reflejos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reflejos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movimientos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movimientos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_expediente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
