@model IEnumerable<ProyectoConsultorio.Models.Consulta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Altura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presion1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presion2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sintomas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnostico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicamentos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Altura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presion1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presion2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paciente.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sintomas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnostico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicamentos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_consulta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_consulta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_consulta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
