@model ProyectoConsultorio.Models.Paciente

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoPat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoPat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoMat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoMat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RFC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RFC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSangre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSangre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alcoholismo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alcoholismo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tabaquismo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tabaquismo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Toxicaomania)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Toxicaomania)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dirección)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dirección)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CURP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CURP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aseguradora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aseguradora)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_paciente" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
