@model IEnumerable<ProyectoConsultorio.Models.Paciente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoPat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoMat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RFC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSangre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alcoholismo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tabaquismo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toxicaomania)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dirección)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CURP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aseguradora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSangre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alcoholismo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tabaquismo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toxicaomania)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dirección)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CURP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aseguradora)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_paciente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_paciente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_paciente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
